@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-iran-sans: var(--font-iran-sans);
  --font-iran-sans-fa-num: var(--font-iran-sans-fa-num);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 1rem;
  /* main colors */
  --background: oklch(97.64% 0.009 62.59); /* Main page background */
  --foreground: oklch(26.95% 0.056 277.65); /* Default text color (should contrast with background) */
  --card: oklch(97.64% 0.009 62.59); /* Card background */
  --card-foreground:  oklch(26.95% 0.056 277.65); /* Text color on card elements */
  --popover: oklch(1 0 0); /* Popover background */
  --popover-foreground: oklch(0.145 0 0); /* Popover text color */
  --primary: oklch(74.48% 0.069 65.70); /* Primary buttons, links, highlights */
  --primary-foreground: oklch(100.00% 0.000 0); /* Text color on primary elements (usually white/light) */
  --secondary: oklch(37.20% 0.065 211.79); /* Secondary buttons, subtle backgrounds */
  --secondary-foreground: oklch(100.00% 0.000 0); /* Text color on secondary elements */
  --muted: oklch(74.48% 0.069 65.70); /* Subtle backgrounds (disabled states, subtle sections) */
  --muted-foreground: oklch(26.95% 0.056 277.65); /* Text color on muted backgrounds (usually lighter gray) */
  --accent: oklch(1.2 0 0); /* Accent highlights, hover states */
  --accent-foreground: oklch(0.205 0 0); /* Text color on accent elements */
  --destructive: oklch(0.577 0.245 27.325); /* Destructive actions, error states */
  --border: oklch(74.48% 0.069 65.70); /* Borders, dividers, separators */
  --input: oklch(97.64% 0.009 62.59); /* Input fields, form elements */
  --ring: oklch(0.708 0 0); /* Focus rings, active states */
  --chart-1: oklch(0.646 0.222 41.116); /* Chart colors */
  --chart-2: oklch(0.6 0.118 184.704); /* Chart colors */
  --chart-3: oklch(0.398 0.07 227.392); /* Chart colors */
  --chart-4: oklch(0.828 0.189 84.429); /* Chart colors */
  --chart-5: oklch(0.769 0.188 70.08); /* Chart colors */
  --sidebar: oklch(0.985 0 0); /* Sidebar background */
  --sidebar-foreground: oklch(26.95% 0.056 277.65); /* Text color on sidebar elements */
  --sidebar-primary: oklch(0.205 0 0); /* Primary sidebar elements */
  --sidebar-primary-foreground: oklch(0.985 0 0); /* Text color on primary sidebar elements */
  --sidebar-accent: oklch(0.97 0 0); /* Accent sidebar elements */
  --sidebar-accent-foreground: oklch(0.205 0 0); /* Text color on accent sidebar elements */
  --sidebar-border: oklch(0.922 0 0); /* Border color on sidebar elements */
  --sidebar-ring: oklch(0.708 0 0); /* Ring color on sidebar elements */
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: #CBA47E; /* oklch(0.205 0 0) */
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  .backdrop_layer {
    @apply transition md:hidden fixed z-9998  top-0 bottom-0 right-0 left-0 w-full;
    /* From https://css.glass */
    background: rgba(38, 36, 36, 0.71);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(38, 36, 36, 0.3);
    
  }
}

/* Global styles */
* {
  box-sizing: border-box;
}

body, html {
  direction: rtl;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-iran-sans);
  font-size: 16px;
  line-height: 1.5;
  color: var(--foreground);
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}